<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        <a href="javascript:;" data-xlabs-follow="gallery, 63" data-xlabs-callback="myCallback">Switch Follow for gallery #63</a>
        <br />
        Total followers: {{ getTotalFollowers('gallery', 63) }}
        <br />
        Check if current user follows gallery 63: {{ checkFollow('gallery', 63) ? 'Yes' : 'No' }}

        {% include 'XLabsFollowBundle:Follow:loader.html.twig' %}

        <script type="text/javascript">
            function myCallback(elem, response)
            {
                response = JSON.parse(response);
                //console.log(response);
                location.reload();
            }
        </script>
    </body>
</html>